Challenge2/flows.json
[
    {
        "id": "a3e002961d9d4b05",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c23e27a8143fe84e",
        "type": "debug",
        "z": "a3e002961d9d4b05",
        "name": "FILTER_OUT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 320,
        "wires": []
    },
    {
        "id": "8f8f25491e57d509",
        "type": "function",
        "z": "a3e002961d9d4b05",
        "name": "FLOW_INIT",
        "func": "global.set(\"fileGlobal\",msg.payload);\nglobal.set(\"messageCounter\",0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 460,
        "wires": [
            [
                "907bad9f27e4af8d"
            ]
        ]
    },
    {
        "id": "a883362d8a8f41c6",
        "type": "file in",
        "z": "a3e002961d9d4b05",
        "name": "input_CSV",
        "filename": "/home/gio-del/Desktop/Projects/IOT-Project-Challenges/Challenge2/challenge2023_2.csv",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 490,
        "y": 540,
        "wires": [
            [
                "7c23ec5eb62a1890"
            ]
        ]
    },
    {
        "id": "ff2bd235c0e8e23e",
        "type": "mqtt in",
        "z": "a3e002961d9d4b05",
        "name": "code_generator",
        "topic": "polimi/challenge_2/2023/id_code_generator",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "72f6a801ba85e77a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 200,
        "wires": [
            [
                "d37376563e132832",
                "a915bc5152b96ccd",
                "b81f0051696e98d5"
            ]
        ]
    },
    {
        "id": "700f2de3fec0702f",
        "type": "inject",
        "z": "a3e002961d9d4b05",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 500,
        "wires": [
            [
                "a883362d8a8f41c6"
            ]
        ]
    },
    {
        "id": "b81f0051696e98d5",
        "type": "function",
        "z": "a3e002961d9d4b05",
        "name": "FILTER",
        "func": "const file = global.get(\"fileGlobal\");\nconst counter = global.get(\"messageCounter\");\n\nif(counter > 99) {\n    msg.payload = \"FINISHED\";\n    return msg; //if counter is greater than 99 ignore\n} \n\nif(!file) {\n    msg.payload = \"NOTREADY\";\n    return msg;\n}\n\nif(msg.payload.id) { // so that wrong formatted code are not considered\n\n    global.set(\"messageCounter\",counter+1); // increment global counter\n\n    const lastDigit = 658;\n    const id = msg.payload.id;\n\n    const frameNumber = (lastDigit + parseInt(id)) % 7711;\n    console.log(lastDigit, id, frameNumber);\n    if(frameNumber!=0) {\n        msg.payload = file[frameNumber-1];\n        msg.payload.previousID = id;\n        return msg;\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 200,
        "wires": [
            [
                "c23e27a8143fe84e",
                "643a4b040400c541"
            ]
        ]
    },
    {
        "id": "907bad9f27e4af8d",
        "type": "debug",
        "z": "a3e002961d9d4b05",
        "name": "input_file_debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 460,
        "wires": []
    },
    {
        "id": "7c23ec5eb62a1890",
        "type": "csv",
        "z": "a3e002961d9d4b05",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 730,
        "y": 460,
        "wires": [
            [
                "8f8f25491e57d509"
            ]
        ]
    },
    {
        "id": "643a4b040400c541",
        "type": "function",
        "z": "a3e002961d9d4b05",
        "name": "PARSER",
        "func": "if (msg.payload != \"NOTREADY\" && msg.payload != \"FINISHED\") {\n    //todo: should parse the msg payload and return couples publish, payload\n\n    const messages = msg.payload[\"Info\"]; // messages\n    let payloads = msg.payload[\"Message\"]; // payloads\n\n    const publishMessages = messages.split(\",\").filter(str => str.startsWith(\"Publish Message\"))\n\n    let emptyPublishPayloads = publishMessages.length;\n\n    const previousID = msg.payload.previousID;\n\n    if(payloads) {\n        // check for malformed packets\n        const lastClosedBrackets = payloads.lastIndexOf(\"}\");\n        const lastOpenBrackets = payloads.lastIndexOf(\"{\");\n        let malformed = \"\";\n\n        if (lastClosedBrackets < lastOpenBrackets) {\n            malformed = payloads.slice(lastOpenBrackets, payloads.length);\n            payloads = payloads.slice(0,lastOpenBrackets-1);\n        }\n\n        const parsedPayloads = JSON.parse('[' + payloads +']');\n        emptyPublishPayloads -= parsedPayloads.length;\n        parsedPayloads.forEach(payload => {\n            msg.payload = {\n                \"timestamp\": Date.now(), \"id\": previousID, \"payload\": payload\n                };\n            node.send(msg);\n        })\n        if(malformed.length > 0) {\n            emptyPublishPayloads -= 1; // it does count as a non-empty payload\n            msg.payload = {\"timestamp\": Date.now(), \"id\": previousID, \"payload\": malformed};\n            node.send(msg);\n        }\n    }\n\n    for(let i=0;i<emptyPublishPayloads;i++) {\n        msg.payload = {\n            \"timestamp\": Date.now(), \"id\": previousID, \"payload\": \"\"\n        };\n        node.send(msg);\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 120,
        "wires": [
            [
                "e09299f48db1a785",
                "3f3577ca931d0e99"
            ]
        ]
    },
    {
        "id": "3f3577ca931d0e99",
        "type": "mqtt out",
        "z": "a3e002961d9d4b05",
        "name": "publish",
        "topic": "/polimi/iot2023/challenge2/10700658",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "72f6a801ba85e77a",
        "x": 1160,
        "y": 40,
        "wires": []
    },
    {
        "id": "e09299f48db1a785",
        "type": "debug",
        "z": "a3e002961d9d4b05",
        "name": "PARSER_OUT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 240,
        "wires": []
    },
    {
        "id": "d37376563e132832",
        "type": "debug",
        "z": "a3e002961d9d4b05",
        "name": "debug_code_generator",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 320,
        "wires": []
    },
    {
        "id": "4d4a19e6abba7f44",
        "type": "mqtt in",
        "z": "a3e002961d9d4b05",
        "name": "subscription",
        "topic": "/polimi/iot2023/challenge2/10700658",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "72f6a801ba85e77a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 700,
        "wires": [
            [
                "e8f2e6eb2aaac691"
            ]
        ]
    },
    {
        "id": "e8f2e6eb2aaac691",
        "type": "function",
        "z": "a3e002961d9d4b05",
        "name": "tempcelsius_filter",
        "func": "const payload = msg.payload.payload;\n\nif (payload.type === \"temperature\" && payload.unit === \"C\") {\n    msg.payload = payload;\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 700,
        "wires": [
            [
                "411d66710e1c2dff",
                "f92ee5ad9abe6a96"
            ]
        ]
    },
    {
        "id": "f92ee5ad9abe6a96",
        "type": "function",
        "z": "a3e002961d9d4b05",
        "name": "WRITER",
        "func": "msg.payload = \"\\\"\" + JSON.stringify(msg.payload) + \"\\\"\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 600,
        "wires": [
            [
                "3e3c0daf6e453a2f"
            ]
        ]
    },
    {
        "id": "3e3c0daf6e453a2f",
        "type": "file",
        "z": "a3e002961d9d4b05",
        "name": "csv_output_write",
        "filename": "/home/gio-del/Desktop/Projects/IOT-Project-Challenges/Challenge2/output.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1130,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "411d66710e1c2dff",
        "type": "function",
        "z": "a3e002961d9d4b05",
        "name": "PLOTTER",
        "func": "msg.payload = msg.payload.range[1];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 760,
        "wires": [
            [
                "3637e47b78c40821"
            ]
        ]
    },
    {
        "id": "3637e47b78c40821",
        "type": "ui_chart",
        "z": "a3e002961d9d4b05",
        "name": "chart",
        "group": "ed654e8fe89770c3",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1090,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "a915bc5152b96ccd",
        "type": "function",
        "z": "a3e002961d9d4b05",
        "name": "function 1",
        "func": "msg.payload = global.get(\"messageCounter\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 60,
        "wires": [
            [
                "2734e91f1d7e6747"
            ]
        ]
    },
    {
        "id": "2734e91f1d7e6747",
        "type": "file",
        "z": "a3e002961d9d4b05",
        "name": "debug counter",
        "filename": "/home/gio-del/Desktop/Projects/IOT-Project-Challenges/Challenge2/counter",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 660,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "72f6a801ba85e77a",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ed654e8fe89770c3",
        "type": "ui_group",
        "name": "Default",
        "tab": "0df9a89405d1f889",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0df9a89405d1f889",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]