Project/flow.json
[{"id":"8fd114e9.2453e","type":"tab","label":"Flow","disabled":false,"info":""},{"id":"2ea73460.928c64","type":"tcp in","z":"8fd114e9.2453e","name":"","server":"client","host":"localhost","port":"60001","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":280,"y":200,"wires":[["78254439.b442ac"]]},{"id":"78254439.b442ac","type":"function","z":"8fd114e9.2453e","name":"Publish Filter","func":"const regex = /topic (\\d+) with payload (\\d+)/;\nconst match = msg.payload.match(regex);\n    if (match) {\n        const payload = parseInt(match[2]);\n        const topic = parseInt(match[1]);\n        msg.payload = {payload, topic};\n        return msg;\n    }","outputs":1,"noerr":0,"x":600,"y":340,"wires":[["31e7a086.a6a3b"]]},{"id":"31e7a086.a6a3b","type":"function","z":"8fd114e9.2453e","name":"ThingSpeak sender","func":"topic = msg.payload.topic\npayload = msg.payload.payload\nmsg.topic = `channels/2183018/publish/fields/field${topic+1}`\nmsg.payload = payload\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":460,"wires":[["fd27c0a6.b2c348","de6ae894.872818"]]},{"id":"fd27c0a6.b2c348","type":"debug","z":"8fd114e9.2453e","name":"ThingSpeak response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1210,"y":280,"wires":[]},{"id":"de6ae894.872818","type":"mqtt out","z":"8fd114e9.2453e","name":"","topic":"","qos":"1","retain":"false","broker":"deb8d118.4331e","x":1170,"y":460,"wires":[]},{"id":"deb8d118.4331e","type":"mqtt-broker","z":"","name":"Iot lab","broker":"mqtt3.thingspeak.com","port":"1883","clientid":"ECcfFhUnIzsFDQo6JDMlAB4","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
